body
{
    font-family: 'EB Garamond', serif;
    background: #e2e8dd;
}

.header_div
{
    font-size: 20px;
    background: #95a3a4;
    color: white;
}

.header_div p
{
    font-family: 'Noto Serif Khojki', serif;
    color: white;
}

.main_div button
{
    font-family: 'Noto Serif Khojki', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;  
    background:#31b0d5 ; 
}

.copy_right_footer{
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    }












